<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <input type="text" id="use" name="user"><br>
    <input type="password" id="psw" name="password"><br>
    <button id="btn">register</button>

    <script src="jquery.js"></script>

    <script>
    
        $('#btn').on('click', function () {
            if ($('#use').val() !== '' && $('#psw').val() !== '') {
                $.ajax({
                    url: '/register?user=' + $('#use').val() + '&password=' + $('#psw').val(),
                    success: function (data) {
                        if (data.code === 1) {
                            alert(data.msg);
                        } else if (data.code === 2) {
                            alert(data.msg);
                        } else {
                            alert(data.msg);
                            location.href = '/login';
                        }
                    }
                })
            } else {
                alert('请先输入!');
            }
        })
        
    
    </script>
    
</body>
</html>